/*My external style sheet*/
/*
LEGEND:
RS = Rule Set
Sel = Selector
D = Declaration
*/
body { /*Sel #1 AND RS #1*/
    margin-top: auto; /*D #1*/
    /*Changes background color of website*/
    background: black; /*D #2*/
    /*Changes text color of website*/
    color: yellow; /*D #3*/
    /*Gives website some room on the sides*/
    Padding: 25px; /*D #4*/
    /*Changes font of website*/
    font-family: 'Courier New', Courier, monospace; /*D #5*/
}

h1{ /*RS #2*/
    font-size: 10em; /*D #6*/
    border-bottom: 3px solid yellowgreen; /*D #7*/
}

h2{ /*RS #3*/
    background-color: darkgray; /*D #8*/
}

/*The h1 id tag*/
#Home{ /*Sel #2 AND RS #4*/
    color: red;
}

/*picture*/
#scary{ /*RS #5*/
    width: 350px; /*D #9*/

    /*You need to have a border-width and border-style before using border-image.*/
    border-width: 1px; /*D #10*/
    border-style: dashed; /*D #11*/
    border-color: blueviolet; /*D #12*/
}


/*h2?*/
#main_reasons{ /*RS #6*/
    padding: 5px;
}

/*unordered list bullets*/
#list_reasons{ /*RS #7*/
    background-color: gray;
    color: black;
    padding: 3px;
}

.heading{ /*Sel #3 AND RS #8*/
    color: darkblue;
    font-size: 3em;
}

h4{ /*RS #9*/
    text-align: center; /*D #13*/
    color: white;
    background-color: darkslateblue;
    font-size: 3em;
    padding: 10px;
}

h5{ /*RS #10*/
    text-align: center;
    color: black;
    background-color: red;
    font-size: 5em;
    padding: 5px;
}