/*My external style sheet*/
body {
    /*Changes background color of website*/
    background: black;
    /*Changes text color of website*/
    color: yellow;
    /*Gives website some room on the sides*/
    Padding: 500px;
    /*Changes font of website*/
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 5em;
    border-bottom: 1px solid yellowgreen;
}

h2{
    font-size: 2.2em;
}

/*This is how you access the id hello and only color the unique h1 with that id (hello).*/
#hello{
    color: red;
}

/*picture*/
#scary{
    width: 750px;
    border: 5px blueviolet;
}

/*h2?*/
.main_reasons{
    background: gray;
    padding: 5px;
}
